######## W E L C O M E #########
Welcome to {{ warning_banner_organization | default('Frappe Technologies Pvt Ltd') }}
This server is under authority of {{ warning_banner_organization | default('Frappe Technologies Pvt Ltd') }}
If you came accross any issue, contact us at {{ warning_banner_contact | default('devops@erpnext.com') }}

